body {
  font-family: 'Noto Sans', sans-serif;
}

.footer {
  padding: 3rem 1.5rem;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.section {
  padding-top: 0;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 0px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

div.sota-comparisons {
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  color: black;
  text-align: center;
}
div.results-carousel .row {
  width: 100%;
  display: flex;
  margin: 0;
}

div.container .row {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-around;
  margin: 0px
}

div.container .col {
    width: 100%;
    font-size: 150%;
    justify-content: space-around;
}
div.results-carousel .col img {
  width: 100%;
}
div.results-carousel .col video {
  width: 16;
  height:100%
}
div.sota-comparisons .col {
    width: 100%;
    font-size: 150%;
  }

.row-teaser col {
  width: 25% !important;
}

 div.results-carousel .row_header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgb(230, 230, 230);
    color: black;
  }
  
 div.container .row:first-child {
 		text-align: center;
    margin: 0px;
    
  }
  
div.header_dark_gray {
  padding: 25px 10px;
  background-color: rgb(230, 230, 230);
  color: black;
  margin: 1rem 0;
}

div.header_dark_gray h1 {
  font-size: 1.2em;
  text-align: center;
}

div.header_dark_gray h2 {
  font-size: 1em;
  text-align: center;
}

#comparisons-select {
  padding-bottom: 1rem;
  font-size: 80%;
}

#comparisons-select .col {
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: .5rem;
  background-color: #eee;
  margin: .25rem;
}

#comparisons-select .col.selected {
  background-color: #ccc;
}

.left_arrow {
    position:relative;
    top: calc(50% - 4px);
    width: 1rem;
    margin: 0 auto;
    border-bottom:4px solid black;
}

.left_arrow::before {	
  content: '';
  width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid black;
  position: absolute;
  left: -8px;
  top: -6px;
}

.right_arrow{
    position:relative;
    top: calc(50% - 4px);
    width: 1rem;
    margin: 0 auto;
    border-bottom:4px solid black;
}
.right_arrow::after {	
  content: '';
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
  position: absolute;
  right: -8px;
  top: -6px;
}

.arrow {
  font-size: 3.5em; /* Adjust arrow size as needed */
  padding: 0 1px; /* Adjust spacing around arrow as needed */
}
